:root {}

html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea {
    text-align: left;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.5;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=search],
select,
textarea {
    appearance: none;
}

body,
input,
button,
textarea,
select {
    outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
th,
td,
header,
section,
aside,
nav,
menu,
audio,
video,
figure,
figcaption,
footer,
article {
    margin: 0;
    padding: 0;
}

::selection {
    background: #e0e0e0;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, "Helvetica Neue", "PingFang SC", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1301;
    width: 16.5rem;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #eee;
}

.sidebar>.logo_brand {
    padding: 12px 16px;
    height: 72px;
    width: 100%;
    display: block;
}

.sidebar>.logo_brand>svg,
.sidebar>.logo_brand>img {
    width: auto;
    height: 100%;
}

.sidebar>.wrapper {
    position: absolute;
    height: 89%;
    margin-top: 10px;
    padding-bottom: 5rem;
}

.sidebar>.wrapper>.block-nav {
    padding: 0 12px 8px;
}

.sidebar>.wrapper>.block-nav>.side_item {
    height: 45px;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar>.wrapper>.block-nav>.side_item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.sidebar>.wrapper>.block-nav>.side_item.active {
    color: #fe3355 !important;
    font-weight: 700;
}

.sidebar>.wrapper>.block-nav>.block-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    height: 20px;
    margin-top: 15.5px;
    margin-bottom: 12px;
    padding-left: 16px;
    color: #606266;
}

.sidebar>.wrapper>.block-nav>.side_item>.side-icon {
    margin-right: 12px;
}

.sidebar>.wrapper>.block-nav>.side_item,
.sidebar>.wrapper>.block-nav>.side_item:hover {
    color: #0c0d0f;
}

.sidebar>.wrapper .block-nav+.block-nav::before {
    content: "";
    display: block;
    height: 0.5px;
    background-color: rgba(12, 13, 15, 0.06);
    margin: 0px 12px 8px;
}

.header {
    background-color: white;
    border-bottom: 1px solid #e2e1e1;
}

.header {
    margin: 0 auto;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-left: 16.5rem;
}

.container {
    padding: 0 32px;
    width: 100%;
    min-width: auto;
}

.header>.navbar {
    display: flex;
    height: 40px;
}

.header>.navbar>.search-wrap {
    position: relative;
    flex: 1;
    display: inline-block;
    height: 100%;
    max-width: 355px;
    z-index: 100;
}

.sidebar>.wrapper>.block-nav>.side_item>.openTab {
    width: auto;
    margin-left: 25px;
    margin-top: -1px;
}

.sidebar>.wrapper>.block-nav>.side_item>.openTab svg {
    margin-left: auto;
    display: none;
    height: 12px;
    width: 12px;
}

.sidebar>.wrapper>.block-nav>.side_item:hover>.openTab svg {
    display: block;
}

.search-wrap .input {
    transition: background-color 200ms ease, outline 200ms ease, box-shadow 200ms ease;
    color: #0c0d0f;
    background-color: rgba(12, 13, 15, 0.06);
    padding: 0 100px 0px 16px;
    line-height: 20px;
    width: 100%;
    caret-color: #0c0d0f;
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-wrap .search-btn {
    position: absolute;
    justify-content: center;
    margin: 4px 4px 4px 0px;
    border-radius: 4px;
    height: 32px;
    width: 83px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    right: 0px;
    top: 0px;
    color: #0c0d0f;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-wrap .search-btn::after {
    content: "";
    position: absolute;
    left: -4px;
    display: block;
    width: 1px;
    pointer-events: none;
    height: 16px;
    background-color: rgba(12, 13, 15, 0.06);
}

.header>.navbar>.nav-wrap>.nav-list {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #0c0d0f;
    list-style-type: none;
    margin-left: 24px;
}

.header>.navbar>.nav-wrap>.nav-list>li {
    cursor: pointer;
    margin-left: 12px;

}

.header>.navbar>.nav-wrap>.nav-list>li>.nav-link {
    display: flex;
    align-items: center;
    line-height: 18px;
    padding: 8px 10px;
    font-size: 15px;
}

.header>.navbar>.nav-wrap>.nav-list>li.ariatheme {
    width: 1px;
    height: 16px;
    background-color: rgba(12, 13, 15, 0.08);

}

.header>.navbar>.nav-wrap>.nav-list>li>.tab-link svg {
    margin-right: 4px;
    width: 18px;
    height: 21px;
}

.header>.navbar>.nav-wrap>.nav-list>li>.nav-link:hover,
.header>.navbar>.nav-wrap>.nav-list>li>.tab-link:hover {
    background-color: rgba(12, 13, 15, 0.06);
    user-select: none;
    border-radius: 4px;
}

.header>.navbar>.nav-wrap>.nav-list>li>.tab-link {
    padding: 6px 8px 6px 6px;
    display: flex;
    align-items: center;
    line-height: 18px;
}

.search-wrap .search-btn svg {
    height: 18px;
    width: 18px;
}

.search-wrap .search-btn svg {
    margin-right: 4px;
}

.nav-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 88px;
    font-weight: 500;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-middle {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #fe3355;
}

.btn-login {
    border-radius: 42px;
    margin-left: 16px;
    width: 102px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%;
}

.col {
    flex: 1 0 0%;
    padding: 10px;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.row-cols-8>* {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.row-cols-7>* {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.row-cols-6>* {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.row-cols-5>* {
    flex: 0 0 auto;
    width: 20%;
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 25%;
}

.row-cols-3>* {
    flex: 0 0 auto;
    width: 33.33333333%;
}
@media (min-width: 576px) {
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 20% !;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-sm-8>* {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .row-cols-sm-7>* {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .row-cols-sm-6>* {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row-cols-sm-5>* {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-sm-4>* {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-sm-3>* {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 20% !;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-md-6>* {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row-cols-md-5>* {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 20% !;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-lg-6>* {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row-cols-lg-5>* {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row-cols-lg-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 1200px) {

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 20% !;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-xl-6>* {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .row-cols-xl-5>* {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-xl-4>* {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-xl-3>* {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row-cols-xl-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}


.container-fluid {
    margin: 15px 24px;
}

.content {
    padding-left: 16.5rem;
    padding-top: 75px;
    padding-bottom: 7rem;
}



.box-videos>.content-box {
    display: flex;
    margin-top: 10px;
}

.box-videos>.content-box>.inner_author>.avatar>img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.box-videos>.content-box>.inner_author>.avatar {
    margin-right: 10px;
}

.box-videos>.content-box>.inner_content {
    display: flex;
    flex-direction: column;
}

.box-videos>.content-box>.inner_content>a>.title {
    font-size: 15px;
    font-weight: 500;
}

.box-videos>.content-box>.inner_content>a>.title:hover {
    color: #fe3355;
}

.box-videos>.content-box>.inner_content>.info_vd {
    display: flex;
    align-items: center;
    word-break: break-word;
    white-space: initial;
    color: #606266;
}

.box-videos>.poster-video>a>.time_videos {
    position: absolute;
    z-index: 3;
    bottom: 7px;
    right: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-shadow: 0.5px 1px 2px rgba(0,0,0,.15);
    color:white;
}
.box-videos>.poster-video .CoverAction {
    display: none;
}
.box-videos>.poster-video:hover .CoverAction {
    display: flex;
    width: min-content;
    justify-content: center;
    position: absolute;
    height: 28px;
    background: rgba(0,0,0,.7);
    border-radius: 2px;
    right: 3px;
    top: 0px;
    z-index: 3;
    color: white;
    padding: 2px 6px;
}
.box-videos>.poster-video .CoverAction span{
    position: absolute;
    opacity: 0;
    transition: all .3s;
    right:-2rem;
}
.box-videos>.poster-video .CoverAction:hover span{
    position: relative;
    opacity: 1;
    right:0;
    margin-right:3px;
}
.box-videos>.content-box>.inner_content>.info_vd>span+span {
    margin-left: 7px;
}

.box-videos>.content-box>.inner_content>.user_name {
    word-break: break-word;
    white-space: initial;
    color: #606266;
    margin-top:5px;
}

.poster-video>a {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 56.25%;
}

.hover-video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:2;
}

._poster-card {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.player{
    width: 100%!important;
    height: 510px!important;
}

.player video{
    object-fit: fill!important;
}